$ll-primary-color: #6e72d1;
$l-primary-color: #4248c3;
$primary-color: #31369b;
$d-primary-color: #23276f;
$dd-primary-color: #151844;

$ll-secondary-color: rgb(154, 185, 212);
$l-secondary-color: rgb(117, 169, 218);
$secondary-color: rgb(22, 97, 163);
$d-secondary-color: rgb(9, 59, 102);
$dd-secondary-color: rgb(19, 33, 46);

$ll-highlight-color: rgb(230, 140, 197);
$l-highlight-color: rgb(199, 87, 158);
$highlight-color: #A2417F;
$d-highlight-color: rgb(117, 35, 87);
$dd-highlight-color: rgb(53, 0, 33);

$ll-light-color: #ebecf9;
$l-light-color: #c0c1eb;
$light-color: #9497dd;
$d-light-color: #686dcf;
$dd-light-color: #3d43c1;

$ll-grey-color: #9f9f9f;
$l-grey-color: #838383;
$grey-color: #666666;
$d-grey-color: #494949;
$dd-grey-color: #2d2d2d;

$ll-dark-color: #003a75;
$l-dark-color: #001e3b;
$dark-color: #000102;
$d-dark-color: #000000;
$dd-dark-color: #000000;





/* THEME COLORS */

$linkColor: $l-light-color;
$textFontColor: $l-light-color;
$headerFontColor: $ll-secondary-color;
$topFontColor: $highlight-color;

$headerMenuColor: $dark-color;

$dividerColor: $secondary-color;
$d-dividerColor: $dd-secondary-color;
$l-dividerColor: $ll-secondary-color;

